<mat-toolbar color="primary">
  <span><mat-icon class="mat-18">assignment</mat-icon> Angular Assignments</span>

  <div class="spacer"></div>
  <div *ngIf="nav.visible">
    <a routerLink="Home" mat-button style="color: white;">Home</a>
    <a routerLink="Assignment1" mat-button style="color: white;">Assignment 1</a>
    <a routerLink="Assignment2" mat-button style="color: white;">Assignment 2</a>
    <a routerLink="Assignment5" mat-button style="color: white;">Assignment 5</a>
    <a routerLink="" mat-button style="color: white;">Logout</a>


  </div>

</mat-toolbar>


